<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Job Title</th>
      <th>Hire Date</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
    <% _.each(employees.models, function(e) { %>
      <tr>
        <td><%- e.get('first_name') %></td>
        <td><%- e.get('last_name') %></td>
        <td><%- e.get('gender') %></td>
        <td><%- e.get('title') %></td>
        <td><%- e.get('hire_date') %></td>
        <td><%- e.get('dept_name') %></td>
      </tr>
    <% }); %>
  </tbody>
</table>